/* FLEX */
.flex{
    display:flex;
}
.flex-column{
    flex-direction:column;
}
.flex-row{
    flex-direction:row;
}
.flex-space-between{
    justify-content: space-between;
}
.flex-center{
    justify-content: center;
    align-items: center;
}
.flex-crossaxis-center{
    align-items: center;
}

/* ELEMENT UTILITY */
.vertical-gray-line{
    border-right: 1px solid var(--light-gray) ;
    margin: 0 0.1rem;
    height: 25px;
}

/* CONDITIONAL UTILITY */
.nav-toggle-selected{
    font-weight: 700;
}
.nav-toggle-not-selected{
    color: var(--clr-font-light);
}
.nav-toggle-not-selected:hover{
    background-color: rgba(228, 228, 228, 0.3);
    color: black;
}
